.player {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  background-color: #EAF0FA;
  padding: 12px 20px;
  border-radius: 48px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 9px;
  min-width: 80px;
}

.time {
  font-size: 14px;
  color: #122945;
}

.playButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: #f1f1f1;
  }
}

.progressBar {
  flex-grow: 1;
  height: 4px;
  background-color: rgba(216, 228, 251, 0.32);
  border-radius: 50px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #002CFB;
  transition: width 0.1s linear;
}

.actions {
  display: flex;
  align-items: center;
  gap: 22px;
}

.downloadButton, .closeButton {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
}

